<h1>Editing office hour</h1>

<%= render "form", office_hour: @office_hour %>

<br>

<div>
  <%= link_to "Show this office hour", @office_hour %> |
  <%= link_to "Back to office hours", office_hours_path %>
</div>
